.password-masking {
    width: 100%;
    height: 100%;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.password-wrapper {
    width: 6.7rem;
    background: #fff;
    padding: .52rem .4rem;
}
.common-input {
    width: 100%;
    height: .9rem;
    border: .01rem solid #cad1d6;
    background: #f6f8fa;
    padding: 0 .22rem;
}
.common-input-icon {
    width: .44rem;
    height: .44rem;
    background-size: 100% 100%;
    margin: 0 .22rem 0 0;
    flex: 0 0 auto;
}
.input-icon-password {
    background-image: url(http://static.qiezipai.cn/wechat/live/image/live4/password-icon.png);
}
.common-input > input {
    height: 100%;
    font-size: .3rem;
    font-weight: 700;
    flex: 1 1 auto;
}
.common-button {
    width: 100%;
    height: .9rem;
    background: #b88259;
    color: #fff;
    font-size: .32rem;
    font-weight: 700;
    margin: .24rem 0 0;
}
.common-button.active {
    background: #c0c5c9;
}
.ani-fadeoutdown {
    animation: bounceD 1s;
    animation-fill-mode: forwards;
}
.overhidden {overflow: hidden;}
@-webkit-keyframes bounceD {
    20% {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0);
    }
}
@-webkit-keyframes fadeInDown{
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.aa  {
  display:flex;
  

}
