*{padding:0;margin:0;}
a{text-decoration: none;}
ul,li{list-style: none;}
body{font-size: 18px;font-family: 'Microsoft Yahei';width: 1280px;height:1024px;
background: url(images/BG.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.top{
	width: 100%;
    height: 90px;
    display: block;
}
.logo{
	margin-top: 30px;
    width: 1000px;
    margin-left: 50px;
}
.logo img{
	width: 600px;
}
.logo h4{
	font-size: 30px;
	color: #ffffff;
	letter-spacing: 2px;
}
.logo label{
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 2px;
}
.item{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	letter-spacing:2px;
}
.content{
	width: 1140px;
	height: 750px;
	margin: 0 auto;
}
.model{
	width: 380px;
	height: auto;
	float: left;
	text-align: center;
	margin-top: 20px;
	display: block;
}
.model img{
	width: 360px;
}
.return{
top: -13px;
    position: relative;
    left: -30px;
}
.return img{
	width: 60px;
}
.practice{
	background-color: #ffffff;
	margin-top:30px;
	border-radius: 5px;
}
