<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<title></title>
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			td {
				width: 100px;
			}
		</style>
	</head>

	<body>
		<!--问题：表格合并后无法增加数据，-->
		<div ng-app="aa" ng-controller="bb">
			<table border="1px">
				<tr>
					<td>车次</td>
					<td>站点</td>
					<td>时间</td>
					<td>车票</td>
				</tr>
				<tr ng-repeat="x in names">
					<td>{{x.checi}}</td>
					<td>{{x.zd}}</td>
					<td>{{x.sj}}</td>
					<td ng-click="toggle()">{{x.cp}}
						<span ng-hide='msg' ;>
						￥5.555
					</span>
					</td>
				</tr>
			</table>
		</div>
		<script type="text/javascript">
			var app = angular.module("aa", [])

			app.controller("bb", function($scope) {
				$scope.msg = true;
				$scope.toggle = function() {
					$scope.msg = !$scope.msg;
				}
				$scope.names = [{
						checi: "K506",
						zd: "河津-太原",
						sj: "23:26-05:38",
						cp:"无"
					},
					{
						checi: "209",
						zd: "河津 -太原南",
						sj: "00:34-07:00",
						cp:"5张"
					},
					{
						checi: "209",
						zd: "河津 -太原南",
						sj: "00:34-07:00",
						cp:"5张"
					}
				]
			})
		</script>
	</body>

</html>