.logo-left{
    position: fixed;
    bottom: 1.5rem;
    right: .4rem;
    width: 1.2rem;
    height: 1.2rem;
    background: url("../images/logo.png")  no-repeat ;
    background-size: contain;
}
.container{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.nav-bottom{
    height: 1.3rem;
    display: flex;
    justify-content: space-around;
    background: #F5F5F5;
}
.nav{
    width: 83%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.nav li{
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.active{
    color: red;
}
.nav li img
{
    width: 100%;
    transform: scale(0.8);
}
.nav li span{
    transform: scale(1);
}
.logo-bottom{
    width: 17%;
}
.none{
    display: none;
}

.content .more .more-content{
    width: 100%;
    height: 5rem;
    background: red;
}
.top{
    position: relative;
    height: 1rem;
    background: #102FB6;
    text-align: center;
    line-height: 1rem;
    color: #DADCF0;
}
.top img{
    transform: scale(.6);
    position:absolute;
    right: 0;
    top: 50%;
    margin-top: -.3rem;
}
.message{
   height: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .20rem;
}
.message img{
    width: .6rem;
    height: .5rem;
    background: #0a0a0a;
    margin-right: .2rem;
}

/*query*/
.query-message{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.query-message__left
{
    width: 50%;
    height: 2rem;
    border-right: 1px solid blue;
}
.query-message__right{
    width: 50%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recharge{
    width: 1rem;
    height: .5rem;
    background: red;
    margin-top: .2rem;
}

.query-data{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: .4rem;
}
.query-data .data-progress{
    width: 2.4rem;
    height: 2.4rem;
    border:.2rem solid blue;
    border-radius: 50%;
}
.data-progress__message,.data-progress__count{
    width: 2rem;
    height: 2.4rem;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.data-progress__message :nth-child(2),.data-progress__count :nth-child(2){
    margin-top: .2rem;
}
.data-progress__count :nth-child(2){
    color: red;
}
.details__input,.buy__input{
    width: 2.5rem;
    height: .8rem;
    background: #0f0f0f;
}
.details__input{
    margin-left: .3rem;
}
.buy__input{
    margin-left: 1rem;
}

.videos-items{
    padding:0 .8rem 0 ;
}
.video-item{
    width: 100%;
    height: 1.42rem;
    border-radius: .1rem 0 0 .1rem;
    border: 1px solid #d7d7d7;
    border-right-width: 0;
    margin-top: .3rem;


}

