* {
    font-size: 14px;
}
.case-show__details .case-show__title {
    font-size: 23px;
    color:#A1A1A1;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 50px;
}
#menu-case a {
    color: #E53D00;
    border-color: #f60;
}

#menu-case span {
    position: absolute;
    width: 13px;
    height: 3px;
    background: #E53D00;
    bottom: 8px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    display: block;
}
.case-detail {
    background: rgba(245, 245, 250, 1);
    padding: 100px 0 109px;
    display: flex;
    justify-content: center;
    position: relative;

}
.case-detail__show {
    position: relative;
    width: 750px;
    background: rgba(255, 255, 255, 1);
}
.case-show__banner
{
    width: 100%;
    height: 352px;
}
/*内容*/
.case-show__details {
    padding: 34px 30px 0;
    position: relative;
}
h1{
    font-size: 34px;
    color: #333;
    margin: 0 0 28px;
    position: relative;
}
.case-show__name::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, RGBA(220, 224, 228, 1), RGBA(220, 224, 228, 1) 7px, transparent 7px, transparent);
    background-size: 13px 100%;
    left: 0;
    bottom: -28px;
}


.case-show__tag .tags {
    font-size: 16px;
    color: #333;
    background: #f0f2f5;
    line-height: 28px;
    padding: 0 14px;
    text-align: center;
    border-radius: 5px;
    margin-left: 4px;
}

.case-show__date i{
    color: #FF0000;
}

.organizerlist{
    display: flex;
    overflow:auto;
    width: 100%;
}
.organizer{
    position: relative;
    flex:0 0 auto;
    background: rgba(245,245,250,1);
    width: 320px;
    padding: 8px;
    margin: 24px 32px 0 0;
}
.organizer .title{
    position: absolute;
    left: 0;
    top: -24px;
    width: 72px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    background: rgba(245,245,250,1);
    color: #6b6d70;
}
.organizer img{
    width: 100%;
}
.organizer a{
    display: block;
    margin: 18px 0 10px;
    text-align: center;
    border-bottom:2px solid rgba(51,51,51,1);

}

.guest,.organizer {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:20px ;
}

.organizer-name,.guest p:nth-of-type(1){
    font-size: 22px;
    margin-top: 10px;
}
.sponsorIntro,.guest p:nth-of-type(2){
    font-size: 16px;
    font-weight: lighter;
}

.rightIcon{
    display: inline-block;
    width: 14px;
    height: 1.8px;
    background: black;
    transform:rotate(45deg);
    transform-origin:right;
    margin-bottom: 7px;

}
.rightIcon::after{
    position: absolute;
    content: '';
    width: 14px;
    height: 1.8px;
    background: black;
    transform-origin: right;
    transform: rotate(-90deg);
    left: 0;
}
.case-show__guest:after {
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}

.guest{
    width: 204px;
    background: rgba(245,245,250,1);
}
.guest:not(:nth-of-type(3n+1)){
    margin-left: 30px;
}
.guest:nth-of-type(n+4){
    margin-top: 30px;
}
.guest-img {
    min-width: 100%;
    height: 199px;
}

.case-show__data p span{
    color: #E54106;
}

.hot{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.hot-photo{
    height: 204px;
    display: inline-block;
}
.hot-photo:not(:nth-of-type(1)){
    margin-left: 30px;
}




.about-img {
    width: 100%;
    margin-top: 20px;
}

.details-leave {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 30px 0;
}
.details-leave a{
    font-size: 18px;
    color: RGBA(114, 114, 143, 1);
}

.details-qr {
    width: 135px;
    height: 178px;
    position:fixed;
    top: 100px;
    left: 1020px;
    background: #ffffff;
    z-index: 1;
}

.leave {
    width: 680px;
    height: 110px;
    text-align: center;
    line-height: 110px;
    margin: 0 auto;
    position: relative;
}

.leave::before {
    content: "";
    position: absolute;
    width: 680px;
    height: 1px;
    background: linear-gradient(to right, RGBA(220, 224, 228, 1), RGBA(220, 224, 228, 1) 7px, transparent 7px, transparent);
    background-size: 13px 100%;
    left: 0;
}

.leave_site {
    display: inline-block;
    width: 280px;
    height: 60px;
    border: 1px solid RGBA(229, 61, 0, 1);
    text-align: center;
    line-height: 60px;
    color: RGBA(229, 61, 0, 1);
}
.leaveIcon{
    display: inline-block;
    width: 10px;
    height: 1.8px;
    background: RGBA(114, 114, 143, 1);
    transform:rotate(45deg);
    transform-origin:right;
    margin-bottom: 6px;
    margin-left: -3px;

}
.leaveIcon::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 1.8px;
    background: RGBA(114, 114, 143, 1);
    transform-origin: right;
    transform: rotate(-90deg);
}
