body {
    background-color: blueviolet;
    color: #fff;
}

div {
    width: 100%;
    color: blue;
    display: flex;
    transform: scale(1);
    align-items: center;
    flex-direction: column;
    align-content: center;
    
}
