* {color: #000;}
.about {
  padding-top: .5rem;
}
.block {
  width: 100%;
}
h2 {font-size: .22rem;}
h3 {font-size: .18rem; font-weight: 400;}
h5 {font-size: .12rem; font-weight: 300;}
h4 {font-size: .16rem; font-weight: 400;}
.gan {width: .16rem; height: .03rem; background-color: #E53D00; margin: .22rem 0;}
section {overflow-y: inherit;}

/*关于我们*/
.block--about {
  width: 100%;
  height: 1.76rem;
  background-image: url(http://static.qiezipai.cn/wechat/photoplus/img/aboutus/headbg.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.block--about h2 {
  color: #fff;
}
.block--about h5 {
  line-height: .2rem;
}
.block--about h5 span {
  font-weight: normal;
}
.about-detail {
  width: 3.35rem;
  padding: .18rem .14rem;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 0 .11rem 0 .11rem;
  -webkit-box-shadow: 1px 3px 6px #F7F7FF;
          box-shadow: 1px 3px 6px #F7F7FF;
}
.about-detail > span {
  display: block;
  font-size: .14rem;
  margin-bottom: .1rem;
  text-align: center;
}

/*photoplus简介*/
.block--photoplus {
  padding: 1.4rem 0 .56rem;
}
.block--photoplus h3 {
  font-weight: 400;
}
.progress-content {
  width: 100%;
  /*max-width: 1200px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.progress-content li {
  width: 3.1rem;
  padding: .14rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.progress-content li:not(:last-child) {
  border-bottom: .5px solid #B8B8E6;
}
.progress-content li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.progress-content li:nth-child(even) .progress-word {
  padding-right: .24rem;
}
.progress-content li:nth-child(odd) .progress-word {
  padding-left: .24rem;
}
.progress-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: .58rem;
  height: .58rem;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 7px #B8B8E6;
          box-shadow: 1px 1px 7px #B8B8E6;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.progress-img > img {
  width: .36rem;
}
.progress-word {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.progress-word > p{
  font-size: .12rem;
  margin-bottom: .08rem;
  font-weight: 500;
}
.progress-word > span{
  font-size: .12rem;
  color: #72728F;
  font-weight: 300;
}

/*公司简介*/
.block--company {
  width: 100%;
  padding: .48rem 0;
  background-image: url(http://static.qiezipai.cn/wechat/photoplus/img/aboutus/companybg.png);
  background-size: cover;
  background-position: center bottom;
}
.block--company h4 {
  margin-top: .14rem;
}
.company-tip {
  font-size: .12rem;
  padding: 0 .2rem;
  color: #757580;
  font-weight: 300;
}
.company-tip:nth-of-type(2) {
  margin-top: .16rem;
}
.company-content {
  margin-top: .1rem;
}
.partner-content {
  margin-top: 10px;
}
.partner-content > ul {
  width: 100%;
  padding: 0 .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners {
  width: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: .05rem;
  background-color: #fff;
  margin: .1rem .05rem 0;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: -1px 2px 7px rgba(0, 0, 0, .3);
          box-shadow: -1px 2px 7px rgba(0, 0, 0, .3);
}
.partners-img {
  width: 100%;
  height: 1.56rem;
  border-radius: 8px;
  overflow: hidden;
}
.partners-img > img {
  width: 100%;
}
.partners-word {
  width: 100%;
  height: .59rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.partners-word > p {
  font-size: .14rem;
  font-weight: 600;
}
.partners-word > span {
  font-size: .12rem;
  margin-top: .06rem;
  color: #72728F;
}
.partners-word > a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/*价值观*/
.block--value {
  padding: .5rem 0;
  width: 100%;
}
.block--value > p {
  font-size: .14rem;
  color: #757580;
  margin: 0 0 .07rem;
  font-weight: 300;
}
.block--value > a {
  width: 1.36rem;
  height: .4rem;background: -webkit-gradient(linear, left top, right top, from(#ffa408), to(#d20000));background: linear-gradient(to right, #ffa408, #d20000);
  border-radius: 3px;
  color: #fff;
  font-size: .14rem;
}
.valueh3-pc {
  display: none;
}
.block--value > img {
  display: none;
}
.values-h5 {
  margin: .37rem 0 .3rem;
}
.values-h5 li {
  width: .75rem;
  height: .75rem;
  margin: 0 .17rem;
  border-radius: 50%;
  border: .01rem solid #5E5EFB;
  color: #5E5EFB;
  font-weight: 300;
}

/*联系地址*/
.block--address {
  width: 100%;
  background-color: #F7F7FF;
}
.address-el {
  width: 100%;
  padding: .32rem 0 .46rem;
}
.address-title {
  display: none;
}
.address-title li {
  width: 88px;
  height: 26px;
  background: #F5F5FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757580;
  margin: 0 18px;
  cursor: pointer;
}
.address-title li.active {
  color: #fff;background: -webkit-gradient(linear, left top, right top, from(#ffa408), to(#d20000));background: linear-gradient(to right, #ffa408, #d20000);
}
.address-content {
  width: 100%;
  padding: 0 .2rem;
  margin-top: .4rem;
}
.address-content li:not(:first-child) {
  margin-top: .4rem;
}
.address-content li span {
  font-size: .14rem;
  color: #72728F;
}
.address-content li p {
  font-size: .12rem;
  line-height: .29rem;
  margin-top: .13rem;
  font-weight: 300;
  color: #72728F;
}

.contact {
  width: 100%;
  height: 1.68rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("http://static.qiezipai.cn/wechat/photoplus/img/model/Bitmap@2x.png") no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact .tel img {
  width: 0.36rem;
  height: 0.36rem;
}
.contact .tit {
  font-size: .16rem;
  margin-top: 0.18rem;
}
.contact .tel_phone {
  width: 2.57rem;
  margin-top: 0.2rem;
  border-top: 1px solid #ccc;
  position: relative;
}
.contact .tel_phone span {
  width: 1.59rem;
  text-align: center;
  font-size: .15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background: #eee;
  padding: 0 .19rem;
}
.address-contentnone {display: block;}
.none {
  display: none;
}
