@charset "utf-8";
@import url('base.css');

body {
    background: #901e22;
}

html {
    overflow-x: hidden;
}

#wrapper {
    width: 980px;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

.content {
    width: 980px;
    background: #FFF;
    padding-bottom: 8px;
}

/*---mainContent---*/
#mainContent {
    width: 980px;
    overflow: hidden;
    background: #f7f7f7
}

.subNav {
    width: 960px;
    border-bottom: 1px solid #a60100;
    margin: 0 auto;
    margin-top: 10px;
}

.subNav ul {
    list-style: none;
    width: 540px;
    margin-left: 6px;
}

.subNav li {
    float: left;
    width: 114px;
    height: 30px;
    background: #c6c6c6;
    line-height: 30px;
    text-align: center;
    margin-left: 4px;
    color: #000;
    font-size: 16px;
    _display: inline;
    cursor: pointer;
}

.subNav li.on {
    background: #a60100;
    color: #FFF;
}

/*---mainProduct---*/
.mainProduct {
    width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    height: auto;
    overflow: hidden;
}

/*---productItem---*/
.productItem {
    width: 300px;
    height: 220px;
    border: 1px solid #a60100;
    float: left;
    margin: 4px 0 10px 12px;
    _display: inline;
}

/*---mainPage---*/
.mainPage {
    width: 100%;
    overflow: hidden;
    text-align: right;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    float: right;
}

.mainPage a {
    height: 20px;
    line-height: 20px;
    margin-right: 11px;
    cursor: pointer;
    color: #7e7e7e;
    float: left;
    _display: inline;
    font-size: 11px;
    border: 1px solid #d5d5d5;
    text-decoration: none;
    font-weight: bold;
    display: block;
    -webkit-text-size-adjust: none;
    padding: 0 8px;
}

.mainPage a:hover {
    font-size: 11px;
    border: 1px solid #df0100;
    -webkit-text-size-adjust: none;
}

.mainPage .on {
    font-size: 11px;
    border: 1px solid #df0100;
    color: #FFFFFF;
    background: #ed0100;
    -webkit-text-size-adjust: none;
}
