<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div ng-app="aa" ng-controller="bb">
			<select ng-init="selectedName=names[0]" ng-model="selectedName"ng-options="x for x in names">
			</select>
			<!--
				ng-init="selectedName=names[0]"设置默认显示的值，
				ng-model="selectedName" 数据绑定命名
			-->
			<!--
				1、直接指定默认的值。
				2、可以给生成的option动态添加value值。
			-->
		</div>
		<script type="text/javascript">
			var app=angular.module("aa",[])
			app.controller("bb",function($scope){
				$scope.names=["百度","京东","淘宝"];
			})
		</script>		
	</body>
</html>
