@media screen and (max-width: 768px) {
  .model {
    padding-top: 0.5rem;
  }
  .w80 {
    width: 100%;
  }
  .top {
    width: 100%;
    height: 3.5rem;
    background: url("http://static.qiezipai.cn/wechat/photoplus/img/model/toph5.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  .logo1{
    display: none;
  }
  .top .top_bom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top .top_bom h2 {
    font-size: .21rem;
    color: #fff;
    font-weight: 300;
    width: 2.52rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.33rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top .top_bom h2 span {
    font-size: .21rem;
  }
  .top .top_bom p {
    width: 100%;
    padding: 0 .1rem;
    font-size: 0.12rem;
    font-weight: 300;
    color: white;
    line-height: 0.22rem;
    margin-top: 0.21rem;
    text-align: center;
  }

  .top .top_bom a {
    width: 1.4rem;
    height: 0.36rem;
    display: inline-block;
    line-height: .36rem;
    text-align: center;
    background: white;
    border-radius: 0.05rem;
    outline: none;
    border: 0;
    color: #f60;
    margin-top: 0.18rem;
  }
  .mob {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: -1rem;

  }
  .mob img {
    width: 85%;
  }
  .cloud {
    width: 100%;
    background: #fff;
    padding-top: 1rem;
  }
  .cloud .yun {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cloud .yun a {
    margin-bottom: 0.18rem;
  }
  .cloud .yun a img {
    width: 0.26rem;
    height: 0.2rem;
  }
  .cloud .yun p {
    width: 3.19rem;
    line-height: 0.32rem;
    font-weight: 300;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cloud .yun p span {
    font-size: 0.2rem;
  }
  .cloud .yun p small {
    font-size: 0.12rem;
    color: #757580;
    line-height: 0.2rem;
  }
  .cloud .yun .phone {
    width: 100%;
    height: 2.4rem;
    margin-top: 0.23rem;
    margin-bottom: 0.14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cloud .yun .phone img {
    width: 80%;
  }
  .cloud .yun a {
    width: 1.2rem;
    height: 0.36rem;
    display: inline-block;
    line-height: .36rem;
    text-align: center;
    border-radius: 0.05rem;
    border: 1px solid #f60;
    color: #f60;
    outline: none;
    background: #fff;
    margin-top: 0.17rem;
  }
  .cloud .yun .down_pc {
    display: none;
  }
  .cloud .yun .yuna {
    border: none;
    height: .24rem;
  }
  .score {
    width: 100%;
    margin-top: 0.45rem;
  }
  .score_left {
    display: none;
  }
  .score_right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .score_right .phone {
    text-align: center;
  }
  .score_right .phone img {
    width: 0.18rem;
    height: 0.23rem;
  }
  .score_swiper {
    width: 2.13rem;
    height: 3.79rem;
    position: absolute;
    left: .12rem;
    top: .52rem;
  }
  .score_text_swiper {
    width: 2.7rem;
    height: .3rem;
    position: absolute;
    left: 50%;
    top: -.54rem;
    margin-left: -1.35rem;
    text-align: center;
  }
  .score_text_swiper a {
    width: 100%;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    color: #f50;
  }
  .score_swiper .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .score_phone {
    width: 2.37rem;
    height: 4.92rem;
    margin: 0.77rem auto 0;
    background: url(http://static.qiezipai.cn/wechat/photoplus/img/model/phone-bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  .score_phone > span {
    position: absolute;
    border: 10px solid #f60;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    left: 50%;
    top: -.24rem;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .score_phone img {
    width: 2.13rem;
  }
  .score_right .swiper-button-prev {
    top: 2.5rem;
    left: -.5rem;
    background-image: url(http://static.qiezipai.cn/wechat/photoplus/img/model/left.png);
  }
  .score_right .swiper-button-next {
    top: 2.5rem;
    right: -.5rem;
    background-image: url(http://static.qiezipai.cn/wechat/photoplus/img/model/right.png);
  }
  .score_right h2 {
    font-size: .2rem;
    font-weight: 400;
    margin-top: 0.18rem;
    font-weight: 300;
  }
  .score_right p {
    width: 3.2rem;
    font-size: 0.12rem;
    line-height: 0.2rem;
    margin-top: 0.17rem;
    font-weight: 300;
  }
  .score_right ul {
    display: none;
  }
  .workbanch {
    width: 100%;
    height: 4.8rem;
    background: url("http://static.qiezipai.cn/wechat/photoplus/img/model/diannao.png") bottom no-repeat;
    background-size: 100%;
  }
  .workbanch .w80 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .workbanch .photo {
    width: 100%;
    text-align: center;
    margin-top: 0.56rem;
  }
  .workbanch .photo img {
    width: 0.23rem;
    height: 0.19rem;
  }
  .workbanch .workchild {
    width: 100%;
    text-align: center;
    margin-top: 0.19rem;
  }
  .workbanch .workchild .swiper-button-prev {
    top: 2.6rem;
    left: .2rem;
  }
  .workbanch .workchild .swiper-button-next {
    top: 2.6rem;
    right: .2rem;
  }
  .work_computer {
    width: 100%;
    position: relative;
  }
  .work_computer > span {
    position: absolute;
    border: 10px solid #f60;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    left: 50%;
    top: .53rem;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .workbanch .workchild .work_swiper {
    width: 64%;
    height: 2.5rem;
    margin-left: .7rem;
    margin-top: .22rem;
  }
  .workbanch .workchild .work_swiper .swiper-wrapper {
    height: 100%;
  }
  .workbanch .workchild .work_swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 1.46rem;
    position: relative;
  }
  .workbanch .workchild .work_swiper .swiper-wrapper .swiper-slide a {
    margin-bottom: 0.47rem;
    display: block;
    color: #f50;
    position: relative;
  }
  .workbanch .workchild .work_swiper .swiper-wrapper .swiper-slide img {
    width: 101%;
    height: 100%;
  }
  .workbanch .workchild h2 {
    font-size: 0.18rem;
    text-align: center;
    font-weight: 300;
  }
  .workbanch .workchild p {
    width: 3.16rem;
    font-size: 0.12rem;
    line-height: 0.2rem;
    margin-top: 0.14rem;
    font-weight: 300;
  }
  .workbanch .workchild .work {
    display: none;
  }
  .workbanch .workchild ul {
    display: none;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.3rem;
  }
  .product .star img {
    width: 0.23rem;
    height: 0.23rem;
  }
  .product .star_count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.18rem;
    margin-bottom: .38rem;
  }
  .product .star_count h2 {
    width: 2.26rem;
    font-size: 0.2rem;
    line-height: 0.3rem;
    text-align: center;
    font-weight: 300;
  }
  .product .star_count p {
    background: url("http://static.qiezipai.cn/wechat/photoplus/img/model/bubble.png") center no-repeat;
    background-size: 100% auto;
    padding: 0 .24rem;
    font-size: .12rem;
    line-height: 0.22rem;
    margin: .18rem 0 0;
    font-weight: 300;
  }
  .product .star_count p a {
    color: #f60;
  }
  .product .star_count p strong {
    font-weight: 600;
  }
  .product .goBuy {
    width: 1.36rem;
    height: .4rem;
    background: -webkit-linear-gradient(left, #ffa408, #ff5912, #d20000);
    border-radius: 6px;
    border: 0;
    outline: none;
    font-size: .14rem;
    color: #fff;
    text-align: center;
    line-height: .4rem;
    margin-top: .3rem;
    margin-bottom: .55rem;
    display: none;
  }

  .contact {
    width: 100%;
    height: 1.68rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("http://static.qiezipai.cn/wechat/photoplus/img/model/Bitmap@2x.png") no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .tel img {
    width: 0.36rem;
    height: 0.36rem;
  }
  .contact .tit {
    font-size: .16rem;
    margin-top: 0.18rem;
  }
  .contact .tel_phone {
    width: 2.57rem;
    margin-top: 0.2rem;
    border-top: 1px solid #ccc;
    position: relative;
  }
  .contact .tel_phone span {
    width: 1.59rem;
    text-align: center;
    font-size: .15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    background: #eee;
    padding: 0 .19rem;
  }
}
