.case_detail {
  background: #F5F5FA;
}
.w750{
  width: 750px;
  margin: 0 auto;
  padding: 0 40px;
  background: #fff;
}
.case_detail .play {
  font-size: 26px;
  color: #999;
  display: block;
}

.case_detail .margin {
  margin: 0 29px;
}

.case_detail .banner {
  position: relative;
  width: 750px;
  height: 352px;
  background: #eee;
  margin: 0 auto;
}

.case_detail .banner img {
  width: 100%;
  height: 100%;
}

.case_detail .qr {
  position: absolute;
  width: 134px;
  height: 178px;
  background: #fff;
  right: -140px;
  top: 0;
}

.case_detail .qr dt {
  height: 134px;
  padding: 13px;
}

.case_detail .qr dt img {
  width: 100%;
}

.case_detail .qr dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  padding: 0 10px;
}

.case_detail h3 {
  font-size: 32px;
  color: #333333;
  padding: 40px 0;
  font-weight: 600;
  border-bottom: 2px dashed #ccc;
}

.case_detail .label {
  margin-top: 28px;
}

.case_detail .label ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.case_detail .label ul li {
  padding: 6px 13px;
  background: #F0F0F7;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.case_detail .details {
  margin-top: 50px;
}

.case_detail .details .play {
  margin-bottom: 22px;
  display: block;
}

.case_detail .details p {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
}

.case_detail .introduce {
  margin-top: 50px;
}

.case_detail .introduce p {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
  color: #000;
  margin-top: 20px;
}

.case_detail .organ {
  margin-top: 50px;
}

.case_detail .organ .host {
  margin-top: 20px;
}

.case_detail .organ .host span {
  width: 76px;
  height: 26px;
  display: block;
  font-size: 16px;
  color: #6B6D70;
  background: #F0F0F7;
  text-align: center;
  line-height: 26px;
}

.case_detail .organ .host dl {
  width: 308px;
  height: 288px;
  background: #F0F0F7;
  border: 6px solid #F0F0F7;
}

.case_detail .organ .host dl dt {
  width: 100%;
  height: 190px;
  background: #fff;
}

.case_detail .organ .host dl dd {
  text-align: center;
}

.case_detail .organ .host dl dd p {
  font-size: 16px;
  margin-top: 18px;
}

.case_detail .organ .host dl dd p:nth-child(2) {
  margin-top: 10px;
}

.case_detail .organ .host dl dd p a {
  border-bottom: 1px solid #000;
  font-size: 22px;
}

.case_detail .guest {
  margin-top: 48px;
}

.case_detail .guest .gust_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.case_detail .guest .gust_child dl {
  width: 204px;
  height: 294px;
  background: #F5F5FA;
  margin-top: 18px !important;
}

.case_detail .guest .gust_child dl dt {
  width: 204px;
  height: 204px;
}

.case_detail .guest .gust_child dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case_detail .guest .gust_child dl dd strong {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 600;
}

.case_detail .guest .gust_child dl dd span {
  font-size: 16px;
  margin-top: 10px;
}

.case_detail .data {
  margin-top: 50px;
}

.case_detail .data .play {
  margin-bottom: 20px;
}

.case_detail .data p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}

.case_detail .data p span {
  color: #E53D00;
}

.case_detail .hotimg {
  margin-top: 50px;
}

.case_detail .hotimg .hot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 23px;
}

.case_detail .hotimg .hot a {
  width: 204px;
  height: 204px;
  background: #eee;
}

.case_detail .hotimg .hot a img {
  width: 100%;
  height: 100%;
}

.case_detail .fair {
  margin-top: 50px;
  overflow: hidden;
}

.case_detail .fair p {
  margin-top: 20px;
  font-size: 16px;
  color: #333333;
  line-height: 30px;
}

.case_detail .fair .fair_box {
  width: 100%;
  height: 252px;
  background: #F5F5FA;
  margin-top: 15px;
}

.case_detail .fair a {
  font-size: 18px;
  color: #72728f;
  line-height: 44px;
  float: right;
  margin: 15px 0 20px 0;
}

.case_detail hr {
  border: none;
  border-top: 2px dashed #ccc;
}

.case_detail .bom {
  height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case_detail .bom button {
  width: 280px;
  height: 60px;
  background: white;
  border: 2px solid #E53D00;
  outline: none;
  font-size: 18px;
  color: #E53D00;
}
